body {
  background-color: $ebb;
  color: $kelp;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

a {
  color: $eastern-blue;
  text-decoration: none;
}
