body {
  background-color: $ebb;
  color: $kelp;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

a {
  color: $eastern-blue;
  text-decoration: none;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  padding: 10px;
}
