.task_row {
  background-color: $eastern-blue;
  color: $ebb;
  display: table;
  height: 5rem;
  font-size: 2.2rem;

  input[type="checkbox"], &-name {
    cursor: pointer;
  }

  &:hover {
    background-color: $blumine;
  }

  &.active {
    background-color: $blumine;
  }

  &-index, &-name {
    border-left: 1px solid $wafer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &-index {
    width: 20vw;
  }

  &-name {
    width: 80vw;
  }


}
